#quoteActivity{
    width: auto;
    height:21.48vh;
    margin: auto;   
}
.rowActivities{
    width: 100%;
}
#quote{
    font-size: 25px;
    font-style: italic;
}

#author{
    font-size: 20px;
}
.blockquote-footer{
    color: #ffc600;
}

#cat{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 470px){
    #cat-container{
        height:300px ;
        width: 350px;
        margin-bottom: 300px;
    }
    #cat-container img{
        height:100% ;
        width: 100%;
        object-fit: cover;
        overflow:hidden;
    }
}