#profileActivityCard{
  width: 2.6vw;
  height: 5vh;
  border-radius: 50%;
}
#publishingDateActivityCard{
  font-size: 11px;
}

#activityCardViewMore{
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}  

#activityBody{
  position: relative;
  min-height: 36vh;
}

#description {
  font-size: clamp(14px, 1rem, 18px);
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;   
}

#activityCardViewMore{
background-color: transparent;
border: none;
color: black;
padding: 10px 20px;
cursor: pointer;
transition: color 0.3s, transform 0.3s;
}

#activityCardViewMore:hover {
transform: scale(1.15);
color: #404040;
text-decoration: underline;
}

.image-container {
  position: relative;
  display: inline-block;
  background-color: red;
  height: 257px;
  width: 430px;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que quepa completamente en el contenedor */
  transition: filter 0.3s;
}

.image-container:hover img {
filter: brightness(80%);
}

.image-container:hover .image-overlay {
opacity: 1;
}
.image-overlay i {
font-size: 36px; 
color: white; 
}