#quoteActivity{
    width: auto;
    height:21.48vh;
    margin: auto;   
}
.rowActivities{
    width: 100%;
}
#quote{
    font-size: 25px;
    font-style: italic;
}

#author{
    font-size: 20px;
}
.blockquote-footer{
    color: #ffc600;
}
