#quoteActivity{
    width:700px;
    height:200px;
    margin: auto;   
}

#quote{
    font-size: 1.5vw;
}

#rowActivities{
    justify-content: space-between;
    margin-right: 15px;
}

#cardActivity{
    height: 84.4vh;
}

.blockquote-footer{
    color: #ffc600;
}
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: filter 0.3s;
}
  
.image-container:hover img {
    filter: brightness(80%);
}
  
.image-container:hover .image-overlay {
    opacity: 1;
}
.image-overlay i {
    font-size: 36px; 
    color: white; 
}