#viewMore {
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
  }
  
  #viewMore:hover {
    transform: scale(1.15);
    color: #404040;
    text-decoration: underline;
  }