.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  