#uls{
    justify-content: space-around;
}
#inputSearch{
    width:25%;
}
#iconAll, #iconFamily, #iconAdventure, #iconRomantic, #iconGroup, #iconOther, #iconRelax{
   background-color: white;
   border-color: lightgray;
   padding:10px;
   border-radius: 25%;
}
.reactIcon{
   font-size: 25px;
}
#iconAll:focus,#iconFamily:focus,#iconAdventure:focus, #iconRomantic:focus,#iconGroup:focus,#iconRelax:focus,#iconOther:focus {
    border-color:  #FFC600;
}
#filterTripsBtnGroup button{
    height: 70px;
    width: 110px;
}

@media (max-width: 470px){

    #filterTripsBtnGroup button{
    height: 50px;
    width: 65px;
    font-size: 0px;
    }
   .reactIcon{
    font-size: 15px;
    padding: 0 !important;
   }
}