#uls{
    justify-content: space-around;
}
#inputSearch{
    width:25%;
}
#iconAll, #iconClothes, #iconAccesories, #iconElectronics, #iconSports, #iconOther, #iconAutomotive{
   background-color: white;
   border-color: lightgray;
   padding:10px;
   border-radius: 25%;
}
.reactIcon{
   font-size: 30px;
}
#iconAll:focus {
    border-color:  #FFC600;
}
#iconClothes:focus {
    border-color:  #FFC600;
}
#iconAccesories:focus {
    border-color:  #FFC600;
}
#iconElectronics:focus {
    border-color:  #FFC600;
}
#iconSports:focus {
    border-color:  #FFC600;
}
#iconAutomotive:focus {
    border-color:  #FFC600;
}
#iconOther:focus {
    border-color:  #FFC600;
}