

li{
    list-style-type: none;       
}

.fondo {
    background-image: url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-image {
    text-align: center;
}

.trip{
    font-size: 50px;
    color: white;
}
.product-breack {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/21/09/00/mall-3245949_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    font-size: 50px;
    color: white;
}