li{
    list-style-type: none;       
}

#titleActivities{
    background-color: white;
    color: black;
    font-size: 5.2vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    mix-blend-mode: screen; 
}

#imageContainerActivities{  
    background-image: url('https://cdn.pixabay.com/photo/2020/04/30/02/14/bali-5111131_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    height: 31vh;
}
#imageContainerTrips {
    background-image: url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    height: 31vh;
}
#imageContainerNearme {
    background-image: url('https://cdn.pixabay.com/photo/2019/06/14/15/34/friendship-4273865_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    height: 31vh;
}
    
#imageContainerProducts{
    background-image: url('https://cdn.pixabay.com/photo/2018/03/21/09/00/mall-3245949_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    height: 31vh;
}
#titleTrips{
    background-color: white;
    color: black;
    font-size: 5.2vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    mix-blend-mode: screen; 
}
#titleProducts{
    background-color: white;
    color: black;
    font-size: 5.2vw; 
    font-weight: bold;
    margin: 0 auto; 
    padding: 10px;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    mix-blend-mode: screen; 
}

#filterByLocation{
    height: 160px;
    width: auto;
    display: flex;
    align-items: center;
}
#locationNearme{
    width: 100%;
    height: 30px;
    text-align: center;
  
}
#filterByLocation input {
    border: 1px solid black;
}
@media (max-width: 500px) {
    #filterByLocation input{
        width: 200px;
    }
    #filterByLocation button{
        width: 100px;
    }
}
