.modify-review-img-container{
    height: auto;
    width: auto;
}
.modify-review-img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#modify-review-container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

@media (max-width: 420px){
    #modify-review-container{
        padding: 10px;
    }
    #modify-review-container textarea, #modify-review-container span {
        font-size: 3vw;
    }
    #modify-review-container input{
        font-size: 3.5vw;
    }
}