li{
    text-align: start;
    list-style: none;
    display: flex;
    text-decoration-line: none;
    font-size: 24px;
    padding-bottom: 500px;
}
.navbar-links{
    margin-right: 30px;
}
.link{
    font-style: none;
    text-decoration: none;
}
.navbar {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557572_1280.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
}