
 .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  /* height: 50vh; */
  width:100%;
  position: relative;
  overflow-y: visible;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/10/10/21/47/laptop-2838921_1280.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.navbar-brand{
  width: 80px;
}
.nav-item {
  margin-left: -20px;
  font-size: 20px; 
}
#category{
  background-color: transparent;
  font-size: 20px;
  margin-right: 5px;
  margin-left: -15px;
  border: none;
}
#category:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#all-button-content{
  border: transparent;
  border-color: transparent;
}
.token{
  display:flex;
  flex-direction: row;
}
#scroll-down{
  width:70px;
  border-color: #ffc600;
  border-style: double;
  padding:5px;
  margin-left: -5px;
}

#navbarContent{
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  z-index: 2;
  overflow-y: visible;
  background-color: black;
  color:#ffc600;
}
.btn-navbar {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 2px 6px;
  position: relative;
}
.btn-navbar:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#category{
  margin-left: -10px;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  z-index:2;
  left: 0;
  background-color: transparent;
  border: none;
}
#dropdown-favourites:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffc600;
  font-size: 1.2em;
}
#delete-favourite:hover {
  color: #ffc600;
  background-color: rgba(0, 0, 0, 0.5);
}
#dropdown-favourites{
  background-color: rgba(0, 0, 0, 0.651);
  margin-top: 5px;
  width: 150px;
  border-radius: 10px 0 0 10px;
  z-index:1;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}
#delete-favourite{
  background-color: rgba(0, 0, 0, 0.651);
  margin-top: 5px;
  border-radius: 0 10px 10px 0;
  padding-top: 10px;
  padding-inline: 5px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#favourites-list{
  display:flex;
  flex-direction: row;
  width: 145px;
  justify-content: center;
}
.navbar-toggler{
  display: flex;
  flex-direction: column;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

@media (min-width: 800px) {

  #navbarContent{
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    z-index: 1;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
 
  #navbarItems{
    justify-content: end;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-bottom: 175px;
  }
  .nav-item{
    margin-left: 5px;
    font-size: 20px;
    display: inline-block;
    position: relative;
  }
  #category{
    background-color: transparent;
    font-size: 20px;
    margin-right: 5px;
    margin-left: -15px;
  }

  #category:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .token{
    display:flex;
    flex-direction: row;
  }
  #scroll-down{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left: -40px;
    border: none;
    z-index:2;
  }
  #scroll-down2{
    background-color: rgba(0, 0, 0, 0.651);
    margin-top: 5px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    z-index:2;
    position: relative;
  }
  #scroll-down2:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
  #item-home{
    z-index: 0;
    position:relative;
  }
  .btn-navbar {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    position: relative;
  }
  .btn-navbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .dropdown-menu {
    max-height: 200px;
    max-width: 300px;
    background-color: transparent;
    border: none;
    z-index:1;
    overflow-x: visible;
  }
  #dropdown-favourites:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffc600;
    font-size: 1.2em;
  }
  #delete-favourite:hover {
    color: #ffc600;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #dropdown-favourites{
    background-color: rgba(0, 0, 0, 0.651);
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
    overflow-x: visible;
    width:250px;
    padding-right: 5px;
    flex-direction: row;
    justify-content: center;
    color: white;
  }
  #delete-favourite{
    background-color: rgba(0, 0, 0, 0.651);
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    padding-top: 10px;
    padding-inline: 5px;
    z-index:1;
    display: flex;
    color:white;
    justify-content: center;
    position: relative;
  }
  .text-warning{
    color: white !important;;
  }
  #favourites-list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:250px;
    overflow-x: visible;
  }
}