#quoteProduct{
    width: 37.45vw;
    height:21.48vh;
    margin: auto;   
}
#quoteProductLine{
    font-size: 1.7vw;
    font-style: italic;
}

#authorProduct{
    font-size: 1.2vw;
}
.blockquote-footer{
    color: #ffc600;
}