.row-review{
    height: 1000px;
}
.row-inputs{
    height: 800px;
    margin-top: 30px;
    margin-bottom: 400px;
}
.card-review{
    margin-bottom: 100px;
}
.review-image{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.imageCloud{
    margin-top: 30px;
    
}