.review-form {
  max-width: 1100px;
  height: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #795858;
  border-radius: 5px;
  margin-bottom: 25px;
}

.review-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-select {
  width: 50%;
  padding: 10px;
  margin-right: 10%;
  margin-bottom: 15px;
  text-align: center;
  float: right;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10%;
}

.form-group input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10%;
}

.form-group img {
  max-width: 50%;
  height: 50%;
  margin-top: 10px;
}

.image-section {
  width: 30%;
  float: left;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.inputs-section {
  width: 70%;
  float: left;
}
.input-board textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 80px;
  resize: vertical;
  margin-left: 10%;
}