
#imageContainer{
    max-width:100%;
}

#singleActivityPicture{
    object-fit: cover;
    width:100%;
}
#containerSingle{
    width:95%;
    min-height:450px;
    justify-content: center;
    align-items: center;
    display:flex;
    box-shadow: rgb(218, 165, 32) -2px -2px 0px 2px, rgb(0, 0, 0) 0px 0px 0px 4px;
}
#mapSingleActivity{
    object-fit: cover;
    height: 100%;
    width:100%;
}
#singleRow1{
    justify-content: space-between;
}
#singleRow2{
    justify-content: space-between;
}

#activityRow{
    justify-content: space-between;
}
#commentSection{
    width: 1350px;
    min-height: 450px;
    margin:auto;
}

