#singleProductPicture{
    object-fit: cover;    
}

#containerSingle{
    height:450px;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    display:flex;
    box-shadow: rgb(218, 165, 32) -2px -2px 0px 2px, rgb(0, 0, 0) 0px 0px 0px 4px;
}

#productRow{
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}

#productRow2 {
    justify-content: space-between;
    margin:20px;
}
#link-share{
    justify-content: space-between;
    width: 90%;
}

#sumbitButtonSingle{
    background:black;
    color:white;
}

#commentSection{
    width: 1350px;
    min-height: 450px;    
}

#commentWrite{
    background: black;
    color:goldenrod;    
}

#sumbitButtonSingle{
    margin:auto;
    background:black;
    color: goldenrod;
}

#commentBox, #commentWrite{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#comment{
    width:700px;    
}

.commentHeadline{
    margin-left: 250px;
}

.my-5{
    font-size:50px;
}