#singleTripContainer{
    height: 450px;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: rgb(218, 165, 32) -2px -2px 0px 2px, rgb(0, 0, 0) 0px 0px 0px 4px;  
}
#singleTripImageContainer{
    min-height: 450px;
    margin: 0;
    padding: 0;
}
#singleTripImageContainer img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

#mapSingleTrip{
    height: 450px;
    margin-left: 0;
    padding: 0;
}
#mapSingleTrip img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 470px){
    #singleTripContainer{
        height: auto;
    }
    #mapSingleTrip{
        margin-top: 45px 
    }
}