#singleActivityPicture{
    object-fit: cover;    
}
#containerSingle{
    margin:auto;
    width:1100px;
    height:400px;
    justify-content: center;
    align-items: center;
    display:flex;
}
#backgroundSingleActivity{
    background: rgb(95,191,153);
    background: linear-gradient(to top right,black 0%, rgba(253,187,45,1) 100%);
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    overflow: hidden;
    margin:auto;
    width:1125px;
    height:425px;
    display:flex;
    justify-content: center;
    align-items: center;   
}
#mapSingleActivity{
    object-fit: cover;
    height: 100%;
}
#singleRow1{
    justify-content: space-between;
    margin-right: 15px;
}
#singleRow2{
    justify-content: space-between;
}

#activityRow{
    justify-content: space-between;
}
#commentSection{
    width: 1350px;
    min-height: 450px;
    margin:auto;
}
#basic-addon1, #commentWrite{
    background: rgb(95,191,153);
}
#sumbitButtonSingle{
    background:black;
    color:white;
}
#commentSection{
    width: 1350px;
    min-height: 450px;    
}
#commentWrite{
    background: black;
    color:goldenrod;    
}
#sumbitButtonSingle{
    margin:auto;
    background:black;
    color: goldenrod;
}
#commentBox, #commentWrite{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#comment{
    width:700px;    
}

.commentHeadline{
    margin-left: 250px;
}

.my-5{
    font-size:50px;
}