.light-theme {
    background-color: white;
    color: black;
  }
  
.dark-theme {
    background-color: rgb(0, 0, 0);
    color: white
}
.dark-theme small  {
    color: #fff !important;
  }
.dark-theme #trip-quote{
    color: #ffc600 !important;
}
.dark-theme #trip-board, .dark-theme #activity-board , .dark-theme #product-board, .dark-theme #carouselBodyReview, .dark-theme #containerSingle, .dark-theme #carouselBody {
    background-color: #444 ; 
    color: #fff; 
}
.dark-theme #activityCardViewMoreBtn{
    background-color: #000000 !important; 
    color: #fff !important; 
}
.dark-theme #viewMore , .dark-theme #viewMoreProduct, .dark-theme #quoteActivity, .dark-theme #quoteProduct{
    background-color: #000000 !important; 
    color: #fff !important; 
}
.dark-theme #labelImageUpload, .dark-theme #description,  .dark-theme #date, .dark-theme #rating{
    color: #000000 !important; 
}
.dark-theme .reviews-body{
    background-color: #131313 !important;
    color: #fff;
}
.dark-theme #singleReviewInfo{
    color: #ffffff !important;
}
.dark-theme #cardTrip , .dark-theme #activityCard, .dark-theme #productCard{
    background-color: #858484 !important;
}
.dark-theme .navbar::before{
    filter: brightness(75%) !important;
}







  