
.quote-trip{
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 25px;
    font-style: italic;
}
.description-trips{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.trip-location{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#trip-quote{
    color: #ffc600;
}